# Python compiled binaries.
__pycache__/


# Python virtual environment as directory or symlink.
venv/
venv
virtualenv/
virtualenv

# Local configuration and model files.
*.local.conf
*.local.txt
*.local.pb

# Log files.
*.log
